<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCllFZdxVEBSLFceVp2TbbrRA4_xWW2evc</string>
	<key>GCM_SENDER_ID</key>
	<string>509220172842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.depolamauygulamasi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>depolamobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>depolamobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509220172842:ios:84554a4c466edb29393f53</string>
</dict>
</plist>